* {
  margin:0px;
  padding:0px;
}

html{
  font-size: 10px;
 /* font-family: 'Fjalla One', sans-serif;
  background-color:#00539F; */
}

body{
 /* width:700px; */
  margin:0 auto;
/*  padding:0 20px 20px 20px; */
  background-color:#FFFFFF; 
  border:1px solid black;
  }
  

  /*
h1{
  color:#FF8C00;
 text-shadow: 3px 3px 1px black;
  text-align: center;
  font-size:50px;
  }
  */
#octocat {
  display: block; 
  width:900px; 
  height:500px;
 margin: 50px auto; 
}


#myCarousel .carousel-indicators {
            margin: 10px 0 0;
            overflow: auto;
            position: static;
            text-align: left;
            white-space: nowrap;
            width: 100%;
}
        #myCarousel .carousel-indicators li {
            
            
            display: inline-block;
            height: auto;
            margin: 0 !important;
            width: auto;
}

.navbar-default {
  background-color:#AFEEEE;
  border-color:#D3D3D3;
  color:#000000;
}
.customer {
  color:#FFA500; 
}

p,li {
  display: block;
  line-height:2;
  letter-spacing: 1px;
  font-size: 16px;
}

button{
  background: #2498DB;
  font-family: 'Fjalla One', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  }
  
  
